# Functions and Visualizations

Welcome to lab 4! This week, we'll learn about functions and the table method `apply` from [Section 7.1](https://www.inferentialthinking.com/chapters/07/1/applying-a-function-to-a-column.html).  We'll also learn about visualization from [Chapter 6](https://www.inferentialthinking.com/chapters/06/visualization.html).

First, set up the tests and imports by running the cell below.

In [2]:
import numpy as np
from datascience import *
import otter

grader = otter.Notebook()

## 1. Functions and I/O

Let's start with a real data analysis task.  We'll look at the 2015 compensation of CEOs at the 100 largest companies in California.  The data were compiled for a Los Angeles Times analysis [here](http://spreadsheets.latimes.com/california-ceo-compensation/), and ultimately came from [filings](https://www.sec.gov/answers/proxyhtf.htm) mandated by the SEC from all publicly-traded companies.  Two companies have two CEOs, so there are 102 CEOs in the dataset.

We've copied the data in raw form from the LA Times page into a file called `raw_compensation.csv`.  (The page notes that all dollar amounts are in millions of dollars.)

In [3]:
raw_compensation = Table.read_table('raw_compensation.csv')
raw_compensation

Rank | Name               | Company (Headquarters)         | Total Pay | % Change           | Cash Pay | Equity Pay | Other Pay | Ratio of CEO pay to average industry worker pay
1    | Mark V. Hurd*      | Oracle (Redwood City)          | $53.25    | (No previous year) | $0.95    | $52.27     | $0.02     | 362
2    | Safra A. Catz*     | Oracle (Redwood City)          | $53.24    | (No previous year) | $0.95    | $52.27     | $0.02     | 362
3    | Robert A. Iger     | Walt Disney (Burbank)          | $44.91    | -3%                | $24.89   | $17.28     | $2.74     | 477
4    | Marissa A. Mayer   | Yahoo! (Sunnyvale)             | $35.98    | -15%               | $1.00    | $34.43     | $0.55     | 342
5    | Marc Benioff       | salesforce.com (San Francisco) | $33.36    | -16%               | $4.65    | $27.26     | $1.45     | 338
6    | John H. Hammergren | McKesson (San Francisco)       | $24.84    | -4%                | $12.10   | $12.37     | $0.37     | 222
7    | John S. Watson     | Chevron (San Ramon)            | $22.04    | -15%               | $4.31    | $14.68     | $3.05     | 183
8    | Jeffrey Weiner     | LinkedIn (Mountain View)       | $19.86    | 27%                | $2.47    | $17.26     | $0.13     | 182
9    | John T. Chambers** | Cisco Systems (San Jose)       | $19.62    | 19%                | $5.10    | $14.51     | $0.01     | 170
10   | John G. Stumpf     | Wells Fargo  (San Francisco)   | $19.32    | -10%               | $6.80    | $12.50     | $0.02     | 256
... (92 rows omitted)

**Question 1.** We want to compute the average of the CEOs' pay. Try running the cell below.

In [4]:

np.average(raw_compensation.column("Total Pay"))

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U7'), dtype('<U7')) -> None

You should see an error. Let's examine why this error occured by looking at the values in the "Total Pay" column. Use the `type` function and set `total_pay_type` to the type of the first value in the "Total Pay" column.

In [5]:
total_pay_type = ...
total_pay_type

Ellipsis

In [6]:
grader.check("q1_1")

 results:
    - 1 result:
        Test case passed!

    - 2 result:
        Trying:
            'str' in str(total_pay_type)
        Expecting:
            True
        **********************************************************************
        Line 2, in  1
        Failed example:
            'str' in str(total_pay_type)
        Expected:
            True
        Got:
            False

    - 3 result:
        Test case passed!

**Question 2.** You should have found that the values in "Total Pay" column are strings (text). It doesn't make sense to take the average of the text values, so we need to convert them to numbers if we want to do this. Extract the first value in the "Total Pay" column.  It's Mark Hurd's pay in 2015, in *millions* of dollars.  Call it `mark_hurd_pay_string`.

In [27]:
mark_hurd_pay_string = ...
mark_hurd_pay_string

'$53.25 '

In [28]:
grader.check("q1_2")

 results: All test cases passed!

**Question 3.** Convert `mark_hurd_pay_string` to a number of *dollars*.  The string method `strip` will be useful for removing the dollar sign; it removes a specified character from the start or end of a string.  For example, the value of `"100%".strip("%")` is the string `"100"`.  You'll also need the function `float`, which converts a string that looks like a number to an actual number.  Last, remember that the answer should be in dollars, not millions of dollars.

In [ ]:
mark_hurd_pay = ...
mark_hurd_pay

In [ ]:
grader.check("q1_3")

To compute the average pay, we need to do this for every CEO.  But that looks like it would involve copying this code 102 times.

This is where functions come in.  First, we'll define a new function, giving a name to the expression that converts "total pay" strings to numeric values.  Later in this lab we'll see the payoff: we can call that function on every pay string in the dataset at once.

**Question 4.** Copy the expression you used to compute `mark_hurd_pay` as the `return` expression of the function below, but replace the specific `mark_hurd_pay_string` with the generic `pay_string` name specified in the first line of the `def` statement.

In [35]:
def convert_pay_string_to_number(pay_string):
    """Converts a pay string like '$100' (in millions) to a number of dollars."""
    return ...

In [36]:
grader.check("q1_4")

 results:
    - 1 result:
        Trying:
            convert_pay_string_to_number("$100 ") == 100000000.0
        Expecting:
            True
        **********************************************************************
        Line 2, in  0
        Failed example:
            convert_pay_string_to_number("$100 ") == 100000000.0
        Expected:
            True
        Got:
            False

    - 2 result:
        Trying:
            convert_pay_string_to_number("$23 ") == 23000000.0
        Expecting:
            True
        **********************************************************************
        Line 2, in  1
        Failed example:
            convert_pay_string_to_number("$23 ") == 23000000.0
        Expected:
            True
        Got:
            False

Running that cell doesn't convert any particular pay string. Instead, it creates a function called `convert_pay_string_to_number` that can convert any string with the right format to a number representing millions of dollars.

We can call our function just like we call the built-in functions we've seen. It takes one argument, a string, and it returns a number.

In [ ]:
convert_pay_string_to_number('$42')

In [ ]:
convert_pay_string_to_number(mark_hurd_pay_string)

In [ ]:
# We can also compute Safra Catz's pay in the same way:
convert_pay_string_to_number(raw_compensation.where("Name", are.containing("Safra")).column("Total Pay").item(0))

What have we gained?  Well, without the function, we'd have to copy that `10**6 * float(pay_string.strip("$"))` stuff each time we wanted to convert a pay string.  Now we just call a function whose name says exactly what it's doing.

Soon, we'll see how to apply this function to every pay string in a single expression. First, let's write some more functions.

In [18]:
example_file = Table.read_table('example.csv')
example_file

 max_value |  min_value |  avg |  mean
 val       |  val       |  val |  val

**Question 5.** In the cell below calculate the mean, max, min and the avg value and them write those values in a csv file to look like the example above

In [19]:
import csv

array = np.arange(1,500)
array

max_value = ... 
avg_value ... 
min_value = ... 
mean_value = ... 


header = [..., ...,..., "mean"]
values = [..., ..., ..., ...]
with open('out.csv', 'w') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerow(values)

## 2. Errors and Exceptions

Until now error messages have nott been more than mentioned, but if you have tried out the examples you have 
probably seen some.There are (at least) two distinguishable kinds of errors: syntax errors and exceptions.

Syntax errors, also known as parsing errors, are perhaps the most common kind of complaint you get while 
you are still learning Python:
    
###### Handling Exception

In [ ]:
try:
    test_file = Table.read_table('test.csv')
    test_file
except FileNotFoundError:
    print("Wrong file or file path")

In the example above we have a FileNotFound exception, which in case that the file doesn't exists, the print statement will be called.

#### Question 2.1 
Make the  cell below to print 'Test Passed' without changing the order

In [26]:

def division():
    first_number = 5
    second_number = 0

    divide = first_number / second_number
    
    ...
    
    return divide


division()
print("Test Passed")

ZeroDivisionError: division by zero

## 3. Defining functions

Let's write a very simple function that converts a proportion to a percentage by multiplying it by 100.  For example, the value of `to_percentage(.5)` should be the number 50.  (No percent sign.)

A function definition has a few parts.

##### `def`
It always starts with `def` (short for **def**ine):

    def

##### Name
Next comes the name of the function.  Let's call our function `to_percentage`.
    
    def to_percentage

##### Signature
Next comes something called the *signature* of the function.  This tells Python how many arguments your function should have, and what names you'll use to refer to those arguments in the function's code.  `to_percentage` should take one argument, and we'll call that argument `proportion` since it should be a proportion.

    def to_percentage(proportion)

We put a colon after the signature to tell Python it's over.

    def to_percentage(proportion):

##### Documentation
Functions can do complicated things, so you should write an explanation of what your function does.  For small functions, this is less important, but it's a good habit to learn from the start.  Conventionally, Python functions are documented by writing a triple-quoted string:

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
    
    
##### Body
Now we start writing code that runs when the function is called.  This is called the *body* of the function.  We can write anything we could write anywhere else.  First let's give a name to the number we multiply a proportion by to get a percentage.

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
        factor = 100

##### `return`
The special instruction `return` in a function's body tells Python to make the value of the function call equal to whatever comes right after `return`.  We want the value of `to_percentage(.5)` to be the proportion .5 times the factor 100, so we write:

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
        factor = 100
        return proportion * factor

**Question 1.** Define `to_percentage` in the cell below.  Call your function to convert the proportion .2 to a percentage.  Name that percentage `twenty_percent`.

In [ ]:
def ...
    """ ... """
    ... = ...
    return ...

twenty_percent = ...
twenty_percent

In [37]:
grader.check("q2_1")

 results:
    - 1 result:
        Trying:
            to_percentage(.35) == 35.0
        Expecting:
            True
        **********************************************************************
        Line 2, in  0
        Failed example:
            to_percentage(.35) == 35.0
        Exception raised:
            Traceback (most recent call last):
              File "/opt/conda/lib/python3.10/doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest  0[0]>", line 1, in <module>
                to_percentage(.35) == 35.0
            NameError: name 'to_percentage' is not defined

Like the built-in functions, you can use named values as arguments to your function.

**Question 2.** Use `to_percentage` again to convert the proportion named `a_proportion` (defined below) to a percentage called `a_percentage`.

*Note:* You don't need to define `to_percentage` again!  Just like other named things, functions stick around after you define them.

In [ ]:
a_proportion = 2**(.5) / 2
a_percentage = ...
a_percentage

In [38]:
grader.check("q2_2")

 results:
    - 1 result:
        Trying:
            a_percentage == 70.71067811865476
        Expecting:
            True
        **********************************************************************
        Line 2, in  0
        Failed example:
            a_percentage == 70.71067811865476
        Exception raised:
            Traceback (most recent call last):
              File "/opt/conda/lib/python3.10/doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest  0[0]>", line 1, in <module>
                a_percentage == 70.71067811865476
            NameError: name 'a_percentage' is not defined

Here's something important about functions: the names assigned within a function body are only accessible within the function body. Once the function has returned, those names are gone.  So even though you defined `factor = 100` inside `to_percentage` above and then called `to_percentage`, you cannot refer to `factor` anywhere except inside the body of `to_percentage`:

In [39]:
# You should see an error when you run this.  (If you don't, you might
# have defined factor somewhere above.)
factor

NameError: name 'factor' is not defined

As we've seen with the built-in functions, functions can also take strings (or arrays, or tables) as arguments, and they can return those things, too.

**Question 3.** Define a function called `disemvowel`.  It should take a single string as its argument.  (You can call that argument whatever you want.)  It should return a copy of that string, but with all the characters that are vowels removed.  (In English, the vowels are the characters "a", "e", "i", "o", and "u".)

*Hint:* To remove all the "a"s from a string, you can use `that_string.replace("a", "")`.  And you can call `replace` multiple times.

In [ ]:
def disemvowel(a_string):
    ...
    ...

# An example call to your function.  (It's often helpful to run
# an example call from time to time while you're writing a function,
# to see how it currently works.)
disemvowel("Can you read this without vowels?")

In [ ]:
grader.check("q2_3")

##### Calls on calls on calls
Just as you write a series of lines to build up a complex computation, it's useful to define a series of small functions that build on each other.  Since you can write any code inside a function's body, you can call other functions you've written.

If a function is a like a recipe, defining a function in terms of other functions is like having a recipe for cake telling you to follow another recipe to make the frosting, and another to make the sprinkles.  This makes the cake recipe shorter and clearer, and it avoids having a bunch of duplicated frosting recipes.  It's a foundation of productive programming.

For example, suppose you want to count the number of characters *that aren't vowels* in a piece of text.  One way to do that is this to remove all the vowels and count the size of the remaining string.

**Question 4.** Write a function called `num_non_vowels`.  It should take a string as its argument and return a number.  The number should be the number of characters in the argument string that aren't vowels.

*Hint:* The function `len` takes a string as its argument and returns the number of characters in it.

In [ ]:
def num_non_vowels(a_string):
    """The number of characters in a string, minus the vowels."""
    ...

In [ ]:
grader.check("q2_4")

## 3. `Apply`ing functions

Defining a function is a lot like giving a name to a value with `=`.  In fact, a function is a value just like the number 1 or the text "the"!

For example, we can make a new name for the built-in function `max` if we want:

In [40]:
our_name_for_max = max
our_name_for_max(2, 6)

6

The old name for `max` is still around:

In [41]:
max(2, 6)

6

Try just writing `max` or `our_name_for_max` (or the name of any other function) in a cell, and run that cell.  Python will print out a (very brief) description of the function.

In [42]:
max

Why is this useful?  Since functions are just values, it's possible to pass them as arguments to other functions.  Here's a simple but not-so-practical example: we can make an array of functions.

In [43]:
make_array(max, np.average, are.equal_to)

array([<built-in function max>, <function average at 0x7f8c3022a050>,
       <function are.equal_to at 0x7f8bd9677400>], dtype=object)

Here's a simpler example that's actually useful: the table method `apply`.

`apply` calls a function many times, once on *each* element in a column of a table.  It produces an array of the results.  Here we use `apply` to convert every CEO's pay to a number, using the function you defined:

In [51]:
raw_compensation.apply(convert_pay_string_to_number, "Total Pay")

array([Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis,
       Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis, Ellipsis], dtype=object)

Here's an illustration of what that did:

<img src="apply.png"/>

Note that we didn't write something like `convert_pay_string_to_number()` or `convert_pay_string_to_number("Total Pay")`.  The job of `apply` is to call the function we give it, so instead of calling `convert_pay_string_to_number` ourselves, we just write its name as an argument to `apply`.

**Question 2.** Using `apply`, make a table that's a copy of `raw_compensation` with one more column called "Total Pay (\$)".  It should be the result of applying `convert_pay_string_to_number` to the "Total Pay" column, as we did above.  Call the new table `compensation`.

In [ ]:
compensation = raw_compensation.with_column(
    "Total Pay ($)",
    ...
compensation

In [ ]:
grader.check("q3_2")

Now that we have the pay in numbers, we can compute things about them.

**Question 3.** Compute the average total pay of the CEOs in the dataset.

In [ ]:
average_total_pay = ...
average_total_pay

In [ ]:
grader.check("q3_3")

**Question 4.** Companies pay executives in a variety of ways: directly in cash; by granting stock or other "equity" in the company; or with ancillary benefits (like private jets).  Compute the proportion of each CEO's pay that was cash.  (Your answer should be an array of numbers, one for each CEO in the dataset.)

In [ ]:
cash_proportion = ...
cash_proportion

In [ ]:
grader.check("q3_4")

Check out the "% Change" column in `compensation`.  It shows the percentage increase in the CEO's pay from the previous year.  For CEOs with no previous year on record, it instead says "(No previous year)".  The values in this column are *strings*, not numbers, so like the "Total Pay" column, it's not usable without a bit of extra work.

Given your current pay and the percentage increase from the previous year, you can compute your previous year's pay.  For example, if your pay is \$100 this year, and that's an increase of 50% from the previous year, then your previous year's pay was $\frac{\$100}{1 + \frac{50}{100}}$, or around \$66.66.

**Question 5.** Create a new table called `with_previous_compensation`.  It should be a copy of `compensation`, but with the "(No previous year)" CEOs filtered out, and with an extra column called "2014 Total Pay ($)".  That column should have each CEO's pay in 2014.

*Hint:* This question takes several steps, but each one is still something you've seen before.  Take it one step at a time, using as many lines as you need.  You can print out your results after each step to make sure you're on the right track.

*Hint 2:* You'll need to define a function.  You can do that just above your other code.

In [ ]:
# For reference, our solution involved more than just this one line of code
...

with_previous_compensation = ...
with_previous_compensation

In [ ]:
grader.check("q3_5")

**Question 6.** What was the average pay of these CEOs in 2014?

In [ ]:
average_pay_2014 = ...
average_pay_2014

In [ ]:
grader.check("q3_6")